$primary-bg: #7276a7;
$second-bg: #fff;
$hover-bg: #f8f9fa;
$primary: #885efe;
$button-color: #885efe;
$third-text-color: #2f3147;
$primary-text-color: #7276a7;
$second-text-color: #916cff;
$border-color: #dfe3e833;

$dashboard-bg: #4FBDF0;

$text-exam: #2F3147;

$white: #fff;
$black: #000;

$header-height: 60px;